.sidebar{
	position: absolute;
}
.side-btn{
	display: flex;
	position: fixed;
	z-index: 999;
	left: -105px;
	transition: 0.3s linear;
	padding: 15px;
	margin: 25px 0 0 0;
	width: 150px;
	background-color: rgba(0,0,0,0.5);
	font-size: 20px;
	color: white;
	border-radius: 0 5px 5px 0;
}
.side-btn:hover{
	left: 0;
}
.link-text{
	width: 100%;
	text-align: left;
}
.link-icon{
	width: 100%;
	text-align: right;
}
@media only screen and (max-width: 768px){
	.sidebar{
		display: none;
	}
}
