@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* reset browser specific styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
}
/* headings */
.big-head{
  font-size: 4em;
}
.mid-head{
  font-size:2.5em;
}
/* Button styling */
.button{
    border: none;
    background-color: #2ecc71;
    border-radius: 5px;
    cursor: pointer;
}
.red{
    background-color: #e74c3c;
    color: #fff;
}
.blue{
    background-color: #3498db;
    color: #fff;
}
.button-big{
    padding:.5em 3em .5em 3em;
    font-size: 1.5em;
}
.button-md{
    padding: .4em 2.5em .4em 2.5em;
    font-size: 1em;
}
.button-sm{
    padding: .3em 2em .3em 2em;
    font-size: .75em;
}

/* button interaction styling */
button:focus{
    border: 0;
}
.button:hover{
    opacity: .9;
}

/* link styling */

a{
    text-decoration: none;
    color:#000;
}

/* container */

.container{
  width:75%;
  margin:auto;
  margin-left: 21%;
  box-sizing: border-box;
  padding:3em;
}

/* desktop navigation */

.logo{
  width: 100%;
  text-align: center;
  padding: 1em 0 1em 0;
  color: #fff;
}
.navbar{
  background: #2c3e50;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17%;
  position: fixed;
  height: 100%;
}
.nav{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.nav li{
  list-style: none;
  text-align: center;   
}
.navbar li a{
  display: block;
  width: 100%;
  padding: .6em 0 .6em 0;
  color: #fff;
}
.navbar li a:hover{
  background-color: #34495e;
}